@font-face {
  font-family: "iconfont"; /* Project id 3541824 */
  src: url('iconfont.woff2?t=1667481315010') format('woff2'),
       url('iconfont.woff?t=1667481315010') format('woff'),
       url('iconfont.ttf?t=1667481315010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question-mark:before {
  content: "\e72d";
}

.icon-down:before {
  content: "\e790";
}

.icon-up:before {
  content: "\e791";
}

.icon-fire:before {
  content: "\e6e7";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-email:before {
  content: "\e63a";
}

.icon-man:before {
  content: "\e603";
}

.icon-woman:before {
  content: "\e667";
}

.icon-pull-up:before {
  content: "\eb6e";
}

.icon-pull-down:before {
  content: "\eb6d";
}

.icon-download:before {
  content: "\e668";
}

.icon-arrow-down:before {
  content: "\e601";
}

.icon-arrow-up:before {
  content: "\e602";
}

.icon-comment:before {
  content: "\e607";
}

.icon-share:before {
  content: "\e6fb";
}

.icon-zan:before {
  content: "\e870";
}

.icon-arrow-left:before {
  content: "\e779";
}

.icon-add:before {
  content: "\e614";
}

.icon-loading:before {
  content: "\e891";
}

.icon-yangshengqi:before {
  content: "\e600";
}

.icon-folder:before {
  content: "\eabe";
}

.icon-arrow-right:before {
  content: "\e62d";
}

.icon-vip:before {
  content: "\e655";
}

.icon-renwu-ren:before {
  content: "\e749";
}

.icon-play1:before {
  content: "\e615";
}

.icon-hover:before {
  content: "\e616";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-pause:before {
  content: "\e604";
}

.icon-prev:before {
  content: "\e78a";
}

.icon-next:before {
  content: "\e7a5";
}

.icon-play:before {
  content: "\e650";
}

