// 全局颜色
@bgColor: #ec4141;
@fontColor: #333333;
@contrastColor: #fff; //字体反差色
@activeFontColor: #313132;
@asideBgColor: #f6f6f7;

@gold: #e7aa5a;

@singerColor: #999999;

@borderColor: #e0e0e0;

@boxShadowColor: #dcdbdb;

@userInfoColor: #fbd9d9;

@hoverColor:#EBEBEB;
@bgColor-latest: #bbbbbb;

@userColor: #937db5;
